header{
    background-image: url(images/wood.jpg);
}
h2{
    font-family: 'DM Serif Display', serif;
}
h1{
    font-family: 'DM Serif Display', serif;
}
p{
    font-family: 'Raleway', sans-serif;
}
header{
    font-family: 'DM Serif Display', serif;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    z-index: 0;
    font-size: 16px;
    text-decoration: none;
    justify-content: space-between;
    position: relative;
}
.margin{
    padding-bottom: 4rem;
}
footer{
    background-color: #E68D7A;
    color: white;
    text-align: center;
    padding: .5rem;
    margin-top: 1.5rem;
}
.center{
    text-align: center;
}
.social img{
    height: 30px;
    padding: .25rem;
}
img{
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
nav a{
    color: black;
    margin: .5rem;
    padding: .5rem;
    font-family: 'DM Serif Display', serif;
}
.logo{
    width: 40%;
}
.logo {
    width: 200px;
}
nav {
    display: flex;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
     background-color: #85ae87;
     border: #2a6a38 solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
nav a:hover {
    text-decoration: underline; 
    color: #2a6a38;
    background-color: white;
}
.greenbox{
    background-color: #85ae87;
    border: #2a6a38 solid;
    padding: 1rem;
    color: white;
    margin-bottom: 1.5rem;
}
.shop {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.shop h2 {
    background-color: #85ae87; 
    border-color: #2a6a38;
    border-style: solid;
    color: white;
    padding: 20px;
    width: 350px; 
    text-align: center; 
    margin: 10px; 
    font-size: 30px;
}
.shop h2:hover {
    background-color:#2a6a38; 
}
.about h2{
    color: #2a6a38;
    font-size: 40px;
}
.about p{
    font-size: 18px;
}
.about{
    padding: 4rem;
}
.rewards h2{
    background-color: #85ae87; 
    border-color: #2a6a38;
    border-style: solid;
    color: white;
    padding: 20px;
    width: 400px; 
    text-align: center; 
    margin: 10px; 
    font-size: 30px;
}
.rewards h2:hover {
    background-color:#2a6a38; 
}
form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    font-family: 'DM Serif Display', serif;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Raleway', sans-serif;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #85ae87;
    color: white;
    border: #2a6a38 solid;
    cursor: pointer;
    font-family: 'DM Serif Display', serif;
}
input[type="submit"]:hover {
    background-color: #2a6a38;
    color: white;
    font-family: 'DM Serif Display', serif;
}
.contact {
    margin-top: 20px;
}
.best{
    padding: 1rem;
}
.product1:hover{
    color: white;
    background-color: #85ae87
}
.product2:hover{
    color: white;
    background-color: #85ae87;
}
@media (min-width: 1000px) {
    .about h2{
        text-align: left;
    }
    .rewards h2{
        text-align: center; 
        background-color: #85ae87; 
        border-color: #2a6a38;
        border-style: solid;
        color: white;
        padding: 40px;
        width: 87%;
        margin: 30px; 
        font-size: 30px;
    }
    .best{
        flex-wrap: wrap;
        text-align: center; 
        padding: 1rem;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }

    .best img {
        max-width: 500px; 
        margin: 0 20px;
    }
    .social img{
        height: 50px;
        padding: .5rem;
    }
}